/* Required SASS mixins */
/* Colors */
/* Mobile Colors */
/* Tips */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 1.2em;
  font-family: inherit;
}

label,
.label {
  display: block;
}

input,
select,
textarea {
  display: inline-block;
}

label input[type="checkbox"],
label input[type="radio"],
label input.checkbox,
label input.radio {
  margin-right: 0.72em;
}

label,
.label {
  padding: 0;
  height: 3.2em;
  font-weight: bold;
  font-size: 1em;
  line-height: 3.2em;
}

legend {
  margin-left: 1em;
  padding: 0 0.75em;
  border: 1px solid gainsboro;
  border-radius: 1em;
  color: #b4b4b4;
  font-weight: normal;
  font-size: 1.1em;
}

fieldset.styled, fieldset:not(:last-of-type) {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f0f0f0;
}
fieldset + fieldset {
  padding-top: 0;
}
fieldset.unformatted {
  padding-bottom: 0;
  border-bottom: 0;
}
.pane fieldset {
  border-color: rgba(0, 0, 0, 0.1);
}
fieldset input[type=file] {
  margin-top: 0.72em;
}
fieldset input + p.small {
  margin-top: 1em;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='range'],
input[type='search'],
input[type='color'],
input[type='tel'],
input[type='date'],
input[type='time'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
textarea,
select {
  color: gray;
  text-indent: 0;
  font-weight: normal;
  opacity: 1;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='range'],
input[type='search'],
input[type='color'],
input[type='tel'],
input[type='date'],
input[type='time'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
select {
  height: 3.2em;
}

input[type='text'].huge,
input[type='search'].huge {
  font-size: 1.8em;
}

input:not([type]),
input[type='text'],
input[type='file'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='color'],
input[type='tel'],
input[type='date'],
input[type='time'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
textarea,
select {
  -webkit-transition: box-shadow 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  padding-right: 1em;
  padding-left: 1em;
  border: 1px solid #cccccc;
  /* Nominally 4px */
  border-radius: 4px;
  background-color: white;
}
input:not([type]):focus,
input[type='text']:focus,
input[type='file']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='color']:focus,
input[type='tel']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='month']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #989898;
  outline: none;
  border-color: gray;
  color: #474747;
}

select {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
  padding: 0.6em 0.6em 0.6em 0.8em;
  background-position: 0 0;
  background-repeat: no-repeat, repeat;
  text-shadow: 0 1px 0 white;
  -webkit-padding-end: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:focus, select:active {
  background-position: 0 0;
}

textarea,
textarea.column {
  padding-top: 0.72em;
  padding-bottom: 0.72em;
  min-height: 4.2em;
  line-height: 1.5em;
  resize: vertical;
}

.textbox-item textarea {
  padding: 0;
  min-height: 0;
}

label .required {
  color: #c00f00;
}

abbr.required {
  border-bottom: 0;
}

/* Make webkit render search field as textfield */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  padding-right: 3em;
  -webkit-appearance: textfield;
}

input.search-field {
  padding-right: 3em;
}

/* Error styles */
input[type='text'].error,
input[type='password'].error,
input[type='number'].error,
input[type='email'].error,
input[type='url'].error,
input[type='search'].error,
input[type='color'].error,
input[type='tel'].error,
select.error,
textarea.error,
input[type='text']:focus:invalid,
input[type='password']:focus:invalid,
input[type='number']:focus:invalid,
input[type='email']:focus:invalid,
input[type='url']:focus:invalid,
input[type='search']:focus:invalid,
input[type='color']:focus:invalid,
input[type='tel']:focus:invalid,
select:focus:invalid,
textarea:focus:invalid,
.error input[type='text'],
.error input[type='password'],
.error input[type='number'],
.error input[type='email'],
.error input[type='url'],
.error input[type='search'],
.error input[type='color'],
.error input[type='tel'],
.error select,
.error textarea {
  border-color: #c00f00 !important;
}
input[type='text'].error:focus,
input[type='password'].error:focus,
input[type='number'].error:focus,
input[type='email'].error:focus,
input[type='url'].error:focus,
input[type='search'].error:focus,
input[type='color'].error:focus,
input[type='tel'].error:focus,
select.error:focus,
textarea.error:focus,
input[type='text']:focus:invalid:focus,
input[type='password']:focus:invalid:focus,
input[type='number']:focus:invalid:focus,
input[type='email']:focus:invalid:focus,
input[type='url']:focus:invalid:focus,
input[type='search']:focus:invalid:focus,
input[type='color']:focus:invalid:focus,
input[type='tel']:focus:invalid:focus,
select:focus:invalid:focus,
textarea:focus:invalid:focus,
.error input[type='text']:focus,
.error input[type='password']:focus,
.error input[type='number']:focus,
.error input[type='email']:focus,
.error input[type='url']:focus,
.error input[type='search']:focus,
.error input[type='color']:focus,
.error input[type='tel']:focus,
.error select:focus,
.error textarea:focus {
  box-shadow: 0 0 5px rgba(193, 39, 45, 0.75);
}

.error label,
.error .label {
  color: #c00f00;
}

label.error-message {
  position: absolute;
  top: -1.5em;
  right: 0;
  z-index: 1;
  display: inline-block;
  padding: 0.4em 0.72em;
  max-width: 219px;
  height: auto;
  border-radius: 0.4em;
  background: #c00f00;
  color: white;
  text-shadow: none;
  white-space: normal;
  font-size: 1.1em;
  line-height: 1.333;
}
label.error-message::before {
  position: absolute;
  right: 8px;
  bottom: -4px;
  display: block;
  width: 6px;
  height: 4px;
  content: '';
}
label.error-message[for="edit-note"] {
  top: 1.2em;
  right: 1.2em;
}

label.color-error {
  z-index: 2;
  display: none;
  margin-top: -25px;
  margin-right: -30px;
  white-space: nowrap;
}

input.default {
  font-style: italic;
}

select.fontfamily {
  width: 56px;
}

select.fontsize {
  width: 44px;
}

select.tag {
  width: 84px;
}

/* Counter for textareas */
textarea.with-counter {
  display: block;
}

.char-counter {
  display: inline-block;
  margin-top: 0.72em;
  color: #b3b3b3;
  font-style: italic;
  font-size: 1.4em;
}
.char-counter.no-more {
  color: #c00f00;
}

/* Custom Switch for checkboxes */
.switch-wrap {
  height: auto;
  vertical-align: middle;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 30px;
}
.switch-wrap input[type="checkbox"] {
  display: none;
}
.switch-wrap input[type="checkbox"]:checked + .switch {
  background-color: #6cbc43;
}
.switch-wrap input[type="checkbox"]:checked + .switch::before {
  display: block;
}
.switch-wrap input[type="checkbox"]:checked + .switch::after {
  display: none;
}
.switch-wrap input[type="checkbox"]:checked + .switch .bullet {
  left: 33px;
}
.switch-wrap .switch {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  position: relative;
  display: inline-block;
  margin-top: -3px;
  margin-right: 1em;
  width: 65px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #c00f00;
  vertical-align: middle;
  line-height: 22px;
}
.switch-wrap .switch::before, .switch-wrap .switch::after {
  position: absolute;
  top: 0;
  display: none;
  width: 50%;
  color: white;
  content: 'ON';
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 11px;
}
.switch-wrap .switch::after {
  right: 0;
  display: block;
  content: 'OFF';
}
.switch-wrap .switch .bullet {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: -moz-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: -o-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
  box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: left 0.1s linear;
  -moz-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear;
  position: relative;
  top: -2px;
  left: -2px;
  display: block;
  width: 32px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.switch-wrap .switch .bullet::before, .switch-wrap .switch .bullet::after {
  box-shadow: 1px 0 0 white, 1px 0 0 white inset;
  position: absolute;
  top: 5px;
  left: 50%;
  display: block;
  margin-left: -6px;
  width: 3px;
  height: 14px;
  border: 1px solid #cccccc;
  border-width: 0 1px;
  content: '';
}
.switch-wrap .switch .bullet::after {
  margin-left: 2px;
}
