@font-face {
  font-family: "urturn_icons";
  src: url('../fonts/urturn_icons.eot') format('embedded-opentype'), url('../fonts/urturn_icons.woff') format('woff'), url('../fonts/urturn_icons.ttf') format('truetype'); }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'urturn_icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon_"] {
*/
[class*="icon_"]:before {
  font-family: 'urturn_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_zoom_out:before {
  content: "\e600"; }

.icon_zoom_in:before {
  content: "\e601"; }

.icon_youtube:before {
  content: "\e602"; }

.icon_yahoo:before {
  content: "\e603"; }

.icon_vimeo:before {
  content: "\e604"; }

.icon_video:before {
  content: "\e605"; }

.icon_video_alt:before {
  content: "\e606"; }

.icon_user:before {
  content: "\e607"; }

.icon_urturn:before {
  content: "\e608"; }

.icon_urturn_alt:before {
  content: "\e609"; }

.icon_unrepost:before {
  content: "\e60a"; }

.icon_unlock:before {
  content: "\e60b"; }

.icon_unlisted:before {
  content: "\e60c"; }

.icon_unfollow:before {
  content: "\e60d"; }

.icon_twitter:before {
  content: "\e60e"; }

.icon_twitter_alt:before {
  content: "\e60f"; }

.icon_tumblr:before {
  content: "\e610"; }

.icon_trash:before {
  content: "\e611"; }

.icon_theme:before {
  content: "\e612"; }

.icon_text:before {
  content: "\e613"; }

.icon_text_small:before {
  content: "\e614"; }

.icon_text_big:before {
  content: "\e615"; }

.icon_switch:before {
  content: "\e616"; }

.icon_stop:before {
  content: "\e617"; }

.icon_star:before {
  content: "\e618"; }

.icon_star_outline:before {
  content: "\e619"; }

.icon_spinner:before {
  content: "\e61a"; }

.icon_soundcloud:before {
  content: "\e61b"; }

.icon_sound:before {
  content: "\e61c"; }

.icon_sidebar:before {
  content: "\e61d"; }

.icon_shopping_cart:before {
  content: "\e61e"; }

.icon_share:before {
  content: "\e61f"; }

.icon_settings:before {
  content: "\e620"; }

.icon_search:before {
  content: "\e621"; }

.icon_scissors:before {
  content: "\e622"; }

.icon_rotate:before {
  content: "\e623"; }

.icon_repost:before {
  content: "\e624"; }

.icon_reply:before {
  content: "\e625"; }

.icon_reload:before {
  content: "\e626"; }

.icon_refresh:before {
  content: "\e627"; }

.icon_record:before {
  content: "\e628"; }

.icon_quote_close:before {
  content: "\e629"; }

.icon_point_up:before {
  content: "\e62a"; }

.icon_point_right:before {
  content: "\e62b"; }

.icon_point_left:before {
  content: "\e62c"; }

.icon_point_down:before {
  content: "\e62d"; }

.icon_play:before {
  content: "\e62e"; }

.icon_pinterest:before {
  content: "\e62f"; }

.icon_pin_up:before {
  content: "\e630"; }

.icon_pin_right:before {
  content: "\e631"; }

.icon_pin_left:before {
  content: "\e632"; }

.icon_pin_down:before {
  content: "\e633"; }

.icon_picture:before {
  content: "\e634"; }

.icon_picture_alt:before {
  content: "\e635"; }

.icon_pen:before {
  content: "\e636"; }

.icon_pause:before {
  content: "\e637"; }

.icon_participated:before {
  content: "\e638"; }

.icon_orientation:before {
  content: "\e639"; }

.icon_notifications:before {
  content: "\e63a"; }

.icon_new_post:before {
  content: "\e63b"; }

.icon_move:before {
  content: "\e63c"; }

.icon_more:before {
  content: "\e63d"; }

.icon_mobile:before {
  content: "\e63e"; }

.icon_microphone:before {
  content: "\e63f"; }

.icon_mail:before {
  content: "\e640"; }

.icon_lock:before {
  content: "\e641"; }

.icon_location:before {
  content: "\e642"; }

.icon_load:before {
  content: "\e643"; }

.icon_link:before {
  content: "\e644"; }

.icon_layout_4:before {
  content: "\e645"; }

.icon_layout_3:before {
  content: "\e646"; }

.icon_layout_2:before {
  content: "\e647"; }

.icon_itunes:before {
  content: "\e648"; }

.icon_instagram:before {
  content: "\e649"; }

.icon_info:before {
  content: "\e64a"; }

.icon_home:before {
  content: "\e64b"; }

.icon_heart:before {
  content: "\e64c"; }

.icon_heart_outline:before {
  content: "\e64d"; }

.icon_heart_break:before {
  content: "\e64e"; }

.icon_google:before {
  content: "\e64f"; }

.icon_google_plus:before {
  content: "\e650"; }

.icon_globe:before {
  content: "\e651"; }

.icon_generating:before {
  content: "\e652"; }

.icon_fullscreen:before {
  content: "\e653"; }

.icon_fullscreen_exit:before {
  content: "\e654"; }

.icon_following:before {
  content: "\e655"; }

.icon_following_activities:before {
  content: "\e656"; }

.icon_follow:before {
  content: "\e657"; }

.icon_flickr:before {
  content: "\e658"; }

.icon_flash:before {
  content: "\e659"; }

.icon_flag:before {
  content: "\e65a"; }

.icon_filters:before {
  content: "\e65b"; }

.icon_facebook:before {
  content: "\e65c"; }

.icon_facebook_alt:before {
  content: "\e65d"; }

.icon_eye:before {
  content: "\e65e"; }

.icon_eraser:before {
  content: "\e65f"; }

.icon_edit:before {
  content: "\e660"; }

.icon_discover:before {
  content: "\e661"; }

.icon_delete:before {
  content: "\e662"; }

.icon_delete_alt:before {
  content: "\e663"; }

.icon_dailymotion:before {
  content: "\e664"; }

.icon_contact:before {
  content: "\e665"; }

.icon_connect:before {
  content: "\e666"; }

.icon_comment:before {
  content: "\e667"; }

.icon_comment_outline:before {
  content: "\e668"; }

.icon_cloud_upload:before {
  content: "\e669"; }

.icon_clock:before {
  content: "\e66a"; }

.icon_check:before {
  content: "\e66b"; }

.icon_check_alt:before {
  content: "\e66c"; }

.icon_category:before {
  content: "\e66d"; }

.icon_camera:before {
  content: "\e66e"; }

.icon_camera_switch:before {
  content: "\e66f"; }

.icon_bucket:before {
  content: "\e670"; }

.icon_brush:before {
  content: "\e671"; }

.icon_browse:before {
  content: "\e672"; }

.icon_blogger:before {
  content: "\e673"; }

.icon_block:before {
  content: "\e674"; }

.icon_background:before {
  content: "\e675"; }

.icon_arrow_up:before {
  content: "\e676"; }

.icon_arrow_right:before {
  content: "\e677"; }

.icon_arrow_left:before {
  content: "\e678"; }

.icon_arrow_down:before {
  content: "\e679"; }

.icon_alert:before {
  content: "\e67a"; }

.icon_add:before {
  content: "\e67b"; }

.icon_add_friends:before {
  content: "\e67c"; }

.icon_add_alt:before {
  content: "\e67d"; }

.icon_activity:before {
  content: "\e67e"; }
