@font-face {
  font-family: "urturn_icons";
  src: url('../fonts/urturn_icons.eot') format('embedded-opentype'), url('../fonts/urturn_icons.woff') format('woff'), url('../fonts/urturn_icons.ttf') format('truetype'); }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'urturn_icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon_"] {
*/
[class*="icon_"]:before {
  font-family: 'urturn_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon_zoom_out:before {
  content: "\e000"; }

.icon_zoom_in:before {
  content: "\e001"; }

.icon_youtube:before {
  content: "\e002"; }

.icon_your_turn:before {
  content: "\e003"; }

.icon_yahoo:before {
  content: "\e004"; }

.icon_who_to_follow:before {
  content: "\e005"; }

.icon_webdocs:before {
  content: "\e006"; }

.icon_volume_3:before {
  content: "\e007"; }

.icon_volume_2:before {
  content: "\e008"; }

.icon_volume_1:before {
  content: "\e009"; }

.icon_volume_0:before {
  content: "\e00a"; }

.icon_vimeo:before {
  content: "\e00b"; }

.icon_video:before {
  content: "\e00c"; }

.icon_video_alt:before {
  content: "\e00d"; }

.icon_user:before {
  content: "\e00e"; }

.icon_urturn:before {
  content: "\e00f"; }

.icon_unrepost:before {
  content: "\e010"; }

.icon_unlock:before {
  content: "\e011"; }

.icon_unlisted:before {
  content: "\e012"; }

.icon_unfollow:before {
  content: "\e013"; }

.icon_twitter:before {
  content: "\e014"; }

.icon_tumblr:before {
  content: "\e015"; }

.icon_trash:before {
  content: "\e016"; }

.icon_tools:before {
  content: "\e017"; }

.icon_theme:before {
  content: "\e018"; }

.icon_text:before {
  content: "\e019"; }

.icon_text_small:before {
  content: "\e01a"; }

.icon_text_big:before {
  content: "\e01b"; }

.icon_target:before {
  content: "\e01c"; }

.icon_switch:before {
  content: "\e01d"; }

.icon_stop:before {
  content: "\e01e"; }

.icon_star:before {
  content: "\e01f"; }

.icon_star_empty:before {
  content: "\e020"; }

.icon_soundcloud:before {
  content: "\e021"; }

.icon_sound:before {
  content: "\e022"; }

.icon_sidebar:before {
  content: "\e023"; }

.icon_shuffle:before {
  content: "\e024"; }

.icon_shopping_cart:before {
  content: "\e025"; }

.icon_share:before {
  content: "\e026"; }

.icon_settings:before {
  content: "\e027"; }

.icon_search:before {
  content: "\e028"; }

.icon_rotate:before {
  content: "\e029"; }

.icon_repost:before {
  content: "\e02a"; }

.icon_reply:before {
  content: "\e02b"; }

.icon_repeat:before {
  content: "\e02c"; }

.icon_refresh:before {
  content: "\e02d"; }

.icon_record:before {
  content: "\e02e"; }

.icon_radio_full:before {
  content: "\e02f"; }

.icon_radio_empty:before {
  content: "\e030"; }

.icon_quote_open:before {
  content: "\e031"; }

.icon_quote_close:before {
  content: "\e032"; }

.icon_previous:before {
  content: "\e033"; }

.icon_point_up:before {
  content: "\e034"; }

.icon_point_right:before {
  content: "\e035"; }

.icon_point_left:before {
  content: "\e036"; }

.icon_point_down:before {
  content: "\e037"; }

.icon_playlist_video:before {
  content: "\e038"; }

.icon_playlist_sound:before {
  content: "\e039"; }

.icon_play:before {
  content: "\e03a"; }

.icon_play_alt:before {
  content: "\e03b"; }

.icon_pin_up:before {
  content: "\e03c"; }

.icon_pin_right:before {
  content: "\e03d"; }

.icon_pin_left:before {
  content: "\e03e"; }

.icon_pin_horizontal:before {
  content: "\e03f"; }

.icon_pin_down:before {
  content: "\e040"; }

.icon_pin_alt:before {
  content: "\e041"; }

.icon_picture:before {
  content: "\e042"; }

.icon_picture_alt:before {
  content: "\e043"; }

.icon_picasa:before {
  content: "\e044"; }

.icon_people:before {
  content: "\e045"; }

.icon_pen:before {
  content: "\e046"; }

.icon_pause:before {
  content: "\e047"; }

.icon_participated:before {
  content: "\e048"; }

.icon_notifications:before {
  content: "\e049"; }

.icon_next:before {
  content: "\e04a"; }

.icon_move:before {
  content: "\e04b"; }

.icon_more:before {
  content: "\e04c"; }

.icon_microphone:before {
  content: "\e04d"; }

.icon_medal:before {
  content: "\e04e"; }

.icon_mail:before {
  content: "\e04f"; }

.icon_logo:before {
  content: "\e050"; }

.icon_lock:before {
  content: "\e051"; }

.icon_location:before {
  content: "\e052"; }

.icon_load:before {
  content: "\e053"; }

.icon_link:before {
  content: "\e054"; }

.icon_light_up:before {
  content: "\e055"; }

.icon_light_down:before {
  content: "\e056"; }

.icon_library:before {
  content: "\e057"; }

.icon_layout_4:before {
  content: "\e058"; }

.icon_layout_3:before {
  content: "\e059"; }

.icon_layout_2:before {
  content: "\e05a"; }

.icon_instagram:before {
  content: "\e05b"; }

.icon_info:before {
  content: "\e05c"; }

.icon_infinity:before {
  content: "\e05d"; }

.icon_home:before {
  content: "\e05e"; }

.icon_highlight:before {
  content: "\e05f"; }

.icon_highlight_add:before {
  content: "\e060"; }

.icon_help:before {
  content: "\e061"; }

.icon_heart:before {
  content: "\e062"; }

.icon_heart_break:before {
  content: "\e063"; }

.icon_hand:before {
  content: "\e064"; }

.icon_google:before {
  content: "\e065"; }

.icon_google_plus:before {
  content: "\e066"; }

.icon_globe:before {
  content: "\e067"; }

.icon_fullscreen:before {
  content: "\e068"; }

.icon_fullscreen_exit:before {
  content: "\e069"; }

.icon_frame:before {
  content: "\e06a"; }

.icon_following:before {
  content: "\e06b"; }

.icon_following_activities:before {
  content: "\e06c"; }

.icon_follow:before {
  content: "\e06d"; }

.icon_flickr:before {
  content: "\e06e"; }

.icon_flash:before {
  content: "\e06f"; }

.icon_flag:before {
  content: "\e070"; }

.icon_filters:before {
  content: "\e071"; }

.icon_featured:before {
  content: "\e072"; }

.icon_facebook:before {
  content: "\e073"; }

.icon_eye:before {
  content: "\e074"; }

.icon_expressions:before {
  content: "\e075"; }

.icon_eraser:before {
  content: "\e076"; }

.icon_embed:before {
  content: "\e077"; }

.icon_edit:before {
  content: "\e078"; }

.icon_delete:before {
  content: "\e079"; }

.icon_delete_alt:before {
  content: "\e07a"; }

.icon_dailymotion:before {
  content: "\e07b"; }

.icon_cursor:before {
  content: "\e07c"; }

.icon_copy:before {
  content: "\e07d"; }

.icon_comment:before {
  content: "\e07e"; }

.icon_colorpicker:before {
  content: "\e07f"; }

.icon_cloud:before {
  content: "\e080"; }

.icon_cloud_upload:before {
  content: "\e081"; }

.icon_clock:before {
  content: "\e082"; }

.icon_checkbox_full:before {
  content: "\e083"; }

.icon_checkbox_empty:before {
  content: "\e084"; }

.icon_check:before {
  content: "\e085"; }

.icon_check_alt:before {
  content: "\e086"; }

.icon_category:before {
  content: "\e087"; }

.icon_category_alt:before {
  content: "\e088"; }

.icon_camera:before {
  content: "\e089"; }

.icon_camera_switch:before {
  content: "\e08a"; }

.icon_calendar:before {
  content: "\e08b"; }

.icon_bucket:before {
  content: "\e08c"; }

.icon_brush:before {
  content: "\e08d"; }

.icon_browse:before {
  content: "\e08e"; }

.icon_blogger:before {
  content: "\e08f"; }

.icon_block:before {
  content: "\e090"; }

.icon_background:before {
  content: "\e091"; }

.icon_arrow_up:before {
  content: "\e092"; }

.icon_arrow_right:before {
  content: "\e093"; }

.icon_arrow_left:before {
  content: "\e094"; }

.icon_arrow_down:before {
  content: "\e095"; }

.icon_arrow_alt_up:before {
  content: "\e096"; }

.icon_arrow_alt_right:before {
  content: "\e097"; }

.icon_arrow_alt_left:before {
  content: "\e098"; }

.icon_arrow_alt_down:before {
  content: "\e099"; }

.icon_apple:before {
  content: "\e09a"; }

.icon_ambassador:before {
  content: "\e09b"; }

.icon_alert:before {
  content: "\e09c"; }

.icon_add:before {
  content: "\e09d"; }

.icon_add_caption:before {
  content: "\e09e"; }

.icon_add_alt:before {
  content: "\e09f"; }

.icon_activity:before {
  content: "\e0a0"; }
