.action-button {
  z-index: 20;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
.action-button:hover {
  color: white;
  background-color: black;
}

.action-button-wrap .button {
  margin-right: 0.3em;
}
.action-button-wrap .button:last-child {
  margin-right: 0;
}

.item-button {
  background-color: #323232;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#1e1e1e));
  background-image: -webkit-linear-gradient(top, #323232, #1e1e1e);
  background-image: -moz-linear-gradient(top, #323232, #1e1e1e);
  background-image: -o-linear-gradient(top, #323232, #1e1e1e);
  background-image: linear-gradient(to bottom, #323232, #1e1e1e);
  position: absolute;
  z-index: 10000;
  display: none;
  padding: 0;
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  font-size: 1em;
  line-height: 2em;
}
.item-button:hover, .item-button:active {
  background-color: #1e1e1e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#323232));
  background-image: -webkit-linear-gradient(top, #1e1e1e, #323232);
  background-image: -moz-linear-gradient(top, #1e1e1e, #323232);
  background-image: -o-linear-gradient(top, #1e1e1e, #323232);
  background-image: linear-gradient(to bottom, #1e1e1e, #323232);
  color: white;
}
.item-button::before {
  font-size: 2em;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
  left: 0;
}
.item-button.ne {
  top: -2.1em;
  right: -2.1em;
}
.item-button.nw {
  top: -2.1em;
  left: -2.1em;
}
.item-button.nw:nth-child(2) {
  top: -2.1em;
  left: 2.1em;
}
.item-button.se {
  bottom: -2.1em;
  right: -2.1em;
}
.item-button.sw {
  bottom: -2.1em;
  left: -2.1em;
}

.touch .item-button {
  border: 1px solid white;
  width: 4.6em;
  height: 4.6em;
}
.touch .item-button.ne {
  top: -3.1em;
  right: -3.1em;
}
.touch .item-button.nw {
  top: -3.1em;
  left: -3.1em;
}
.touch .item-button.nw:nth-child(2) {
  top: -3.1em;
  left: 2.1em;
}
.touch .item-button.se {
  bottom: -3.1em;
  right: -3.1em;
}
.touch .item-button.sw {
  bottom: -3.1em;
  left: -3.1em;
}

.panel-button {
  position: absolute;
  -webkit-box-shadow: 0 0 0 1px #b4b4b4 inset;
  -moz-box-shadow: 0 0 0 1px #b4b4b4 inset;
  box-shadow: 0 0 0 1px #b4b4b4 inset;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #fefefe, #dfdfdf);
  background-image: -moz-linear-gradient(top, #fefefe, #dfdfdf);
  background-image: -o-linear-gradient(top, #fefefe, #dfdfdf);
  background-image: linear-gradient(to bottom, #fefefe, #dfdfdf);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  height: 2.3em;
  width: 2.3em;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 2.5em;
}
.panel-button:hover, .panel-button:active {
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#fefefe));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #fefefe);
  background-image: -moz-linear-gradient(top, #dfdfdf, #fefefe);
  background-image: -o-linear-gradient(top, #dfdfdf, #fefefe);
  background-image: linear-gradient(to bottom, #dfdfdf, #fefefe);
}
.panel-button.yep {
  color: #90c541;
}
.panel-button.nope {
  color: #be1d25;
}

.sticker {
  position: absolute;
  border: .2em solid transparent;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
