$experimental-support-for-khtml:false;
@import "compass/css3/background-size";
@import "compass/css3/background-origin";
@import "compass/css3/background-clip";
@import "compass/css3/border-radius";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/columns";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/user-interface";

@mixin linear-gradient($top_color, $bottom_color, $fallback: $top_color) {
  background-color: $fallback;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top_color),      to($bottom_color));
  background-image:                         -webkit-linear-gradient(top, $top_color,          $bottom_color);
  background-image:                            -moz-linear-gradient(top, $top_color,          $bottom_color);
  background-image:                              -o-linear-gradient(top, $top_color,          $bottom_color);
  background-image:                                 linear-gradient(to bottom, $top_color,    $bottom_color);
}

@mixin linear-gradient-with-image($top_color, $bottom_color, $fallback: $top_color, $image: 'buttons_site.png') {
  background-color: $fallback;
  background-image: url(image-path($image)), url(image-path('gradient_fallback.png'));
  background-image: url(image-path($image)), -webkit-gradient(linear, left top, left bottom, from($top_color),      to($bottom_color));
  background-image: url(image-path($image)),                         -webkit-linear-gradient(top, $top_color,          $bottom_color);
  background-image: url(image-path($image)),                            -moz-linear-gradient(top, $top_color,          $bottom_color);
  background-image: url(image-path($image)),                              -o-linear-gradient(top, $top_color,          $bottom_color);
  background-image: url(image-path($image)),                                 linear-gradient(to bottom, $top_color,    $bottom_color);
}


@mixin image-set($sd, $hd) {
  background-image: url($sd);
  background-image: -webkit-image-set(url($sd) 1x, url($hd) 2x);
  background-image:    -moz-image-set(url($sd) 1x, url($hd) 2x);
  background-image:      -o-image-set(url($sd) 1x, url($hd) 2x);
  background-image:     -ms-image-set(url($sd) 1x, url($hd) 2x);
}