#main {
  padding-top: 20px; 
}

/* Style for the doc page */

.wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  height: 20em;
}

.action-button,
.panel-button {
  position: relative;
}

/* sticker */

.doc-sticker {
  width: 20em;
  height: 6em;
  background: lightblue;
  left: 50%;
  margin-left: -10em;
  top: 5em;
}
.item-button {
  display:inline-block;
}

.box1 {
  font-size: 16px;
  display: inline-block;
  width: 15em;
  padding: .25em .5em;
  background: #eee;
  margin: .5em 1em .5em 0;
}
